name: apertus-medqa-lora-sweep
method: bayes

metric:
  name: eval_medqa_mcq_accuracy
  goal: maximize

early_terminate:
  type: hyperband
  min_iter: 100
  eta: 3

parameters:
  learning_rate:
    distribution: log_uniform_values
    min: 5e-6
    max: 5e-4

  warmup_ratio:
    distribution: uniform
    min: 0.0
    max: 0.1

  lora_r:
    values: [8, 16, 32, 64]

  lora_alpha:
    values: [16, 32, 64, 128, 256]

  lora_dropout:
    values: [0.0, 0.05, 0.1]

  gradient_accumulation_steps:
    values: [1, 2, 4, 8]

command:
  - ${env}
  - bash
  - scripts/utils/run_sweep.sh
  - ${args}